.body_content {
    background-image: url(https://media.discordapp.net/attachments/968989725073502329/1116879184824914013/image.png?width=1042&height=662);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.h2_content {
    color: white;
}

.t1 p, .t2 p, .t3 p, .t4 p, .t5 p, .t6 p, .t7 p, .t8 p{
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }