.t1 p{
  width: 50%;
  margin: 7rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#p1 {
  margin-left: 33rem;
  height: 7rem;
  margin-bottom: 13rem;
  position: relative;
  z-index: 2;
}

#p2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 9rem;
}

.ger, .hist, .conc, .interp, .esp, .temp, .calc, .ext{
  color: white;
  text-align: center;
  margin-top: 7rem;
}

.einstein {
  width: 31rem;
  margin: 12rem;
  position: absolute;
  display: block;
  margin-top: 20rem;
  top: 0;
  left: 0;
  z-index: 1;
  z-index: 0;
  border-radius: 10px;
}

.sistema_solar {
  width: 10rem;
  margin-left: 63rem;
  position: absolute;
  margin-top: 27rem;
  top: 0;
  left: 0;
}

.Circ {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 7.5em;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.Circ:hover {
  width: 8rem;
  height: 8rem;
  transition: 0.2s;
}

.Metade_Circ {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #fff;
  z-index: 1;
}

#p3 {
  width: 45rem;
  height: 13rem;
  margin: 7rem;
  margin-left: 13rem;
}

#p4 {
  width: 44.5rem;
  margin-left: 21rem;
  height: 5.5rem;
  margin-top: -5rem;
}

.relogio_minimalista {
  width: 8rem;
  margin-left: 62rem;
  position: absolute;
  margin-top: 73rem;
  top: 0;
  left: 0;
}

#p5 {
  position: relative;
  width: 45rem;
  height: 11rem;
  margin: 7rem;
  margin-left: 10rem;
  z-index: 0;
}

#p6 {
  width: 45rem;
  height: 9rem;
  margin: 7rem;
  margin-left: 17rem;
  margin-top: -5.5rem;
  position: relative;
  z-index: 2;
  z-index: 0;
}

.lingua {
  width: 25rem;
  margin-left: 58rem;
  position: absolute;
  margin-top: 98rem;
  top: 0;
  left: 0;
  border-radius: 10px;
}

#p7 {
  width: 55%;
  margin-left: 23rem;
  height: 9rem;
  margin-top: 7rem;
  position: relative;
  z-index: 2;
  z-index: 0;
}

#p8 {
  width: 55%;
  margin-left: 12rem;
  height: 9rem;
  margin-top: 4rem;
  position: relative;
  z-index: 2;
  z-index: 0;
}

.galileu {
  width: 20rem;
  margin-left: 7rem;
  position: absolute;
  margin-top: 140rem;
  top: 0;
  left: 0;
  border-radius: 10px;
}

#p9 {
  width: 24rem;
  height: 7rem;
  margin-left: 51rem;
  margin-top: -2.5rem;
  position: relative;
}

#p10 {
  width: 55%;
  margin-left: 9rem;
  position: relative;
  height: 9rem;
  margin-top: 7rem;
  z-index: 0;
}

#p11 {
  width: 55%;
  margin-left: 7rem;
  position: relative;
  height: 10rem;
  margin-top: 1.5rem;
  z-index: 0;
}

.universo {
  width: 35rem;
  margin-left: 48rem;
  position: absolute;
  display: block;
  margin-top: 190rem;
  z-index: 0;
}

.saturno {
  width: 7rem;
  margin-left: 10rem;
  position: absolute;
  margin-top: 208rem;
  z-index: 2;
}

#p12 {
  width: 52%;
  margin-left: 33rem;
  position: relative;
  height: 9rem;
  margin-top: 7rem;
}

#p13 {
  width: 50%;
  margin-left: 12rem;
  position: relative;
  height: 11rem;
  margin-top: 4rem;
}

.ampulheta {
  width: 37rem;
  margin-left: 7rem;
  position: absolute;
  display: block;
  margin-top: 224.5rem;
}

.ampulheta-minimalista {
  width: 8rem;
  margin-left: 59.5rem;
  position: absolute;
  display: block;
  margin-top: 240.5rem;
}

#p14 {
  width: 43%;
  margin-left: 30rem;
  position: relative;
  height: 16rem;
  margin-top: 7rem;
}

#p15 {
  width: 43%;
  margin-left: 15rem;
  position: relative;
  height: 16rem;
  margin-top: 3rem;
  text-align: left;
}

.calculadora {
  width: 6rem;
  position: absolute;
  margin-left: 19.5rem;
  margin-top: 283rem;
}

.emc {
  width: 33rem;
  position: absolute;
  margin-left: 48rem;
  margin-top: 283rem;
}

.buraco-de-minhoca {
  width: 7rem;
  position: absolute;
  margin-left: 68rem;
  margin-top: 301rem;
}

#p16 {
  width: 12rem;
  height: 14rem;
  margin-left: 15rem;
  margin-top: 9rem;
  position: relative;
  z-index: 2;
}

#p17 {
  width: 16rem;
  height: 7rem;
  position: absolute;
  margin-left: 40rem;
  margin-top: -19rem;
  z-index: 2;
  z-index: 0;
}

#p18 {
  width: 10rem;
  height: 7rem;
  margin-left: 37rem;
  margin-top: -5rem;
  margin-bottom: 8rem;
}

.relatividade {
  width: 22rem;
  position: absolute;
  margin-left: 55rem;
  margin-top: 322rem;
  z-index: 0;
} 

#vid {
  position: absolute;
  margin-left: 45.5rem;
  margin-top: -21rem;
}

#font {
  height: 6rem;
  margin-left: 35.5rem;
  margin-top: -5rem;
}

.interrogaçao {
  width: 13rem;
  position: absolute;
  margin-left: 23rem;
  margin-top: 323rem;
  z-index: 0;
  transform: rotate(2deg);
}

.body_content p {
  text-align: center;
  backdrop-filter: blur(7px);
}